<div class="row " id="contact">
<footer class="container-fluid text-center footer  navbar-default id="contact">
     <div class="container ">
      <div class="row test">
        <div class="col-md-4 text-justify col-md-offset-4">
          <p>Contact</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Adresse: 9 Rue du Commandant Brasseur</p>
          <p><span class="glyphicon glyphicon-phone"></span> Tél: +33 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@mail.com</p>
        </div>
        
        <div class="col-md-4">
          
          <div class="row">
            <div class="col-md-12 form-group">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2610.429605833699!2d6.161416915192218!3d49.13546718911208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794d94b8465abc1%3A0x3090f2806e4cb0af!2s9+Rue+du+Commandant+Brasseur%2C+57050+Metz!5e0!3m2!1sfr!2sfr!4v1495476072564" width="500" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>            </div>
          </div>
        </div>
      </div>
  </footer>
</div>